// Add your custom CSS here.
.header {
    background-color: #230B93;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    border-bottom: 0;
    i {
        color: #fff;
    }
}
.top-bar__countdown {
    background-color: #fff;
    overflow-x: hidden;
    * {
        color: #000;
        font-weight: bold;
    }
}
@media (min-width: 992px) {
    .banner-slider {
      max-width: 100%;
      max-height: calc(100rem*var(--banner-aspect-ratio))
    }
}
#menu {
    background-color: #333333;
    a {
        color: #fff;
        padding: 1rem;
    }
    .header__nav {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
    } 
}
@media(min-width: 992px) {
    .info__icon {
        display: flex;
    }
    .info-icon__nav .col-auto {
        max-width: 20%
    }
    .icon, .icon img {
        height: 80.34px;
    }
}
@media(max-width: 992px) {
    .info__icon {
        display: flex;
    }
    .info-icon__nav .col-auto {
        max-width: 50%;
        padding: auto;
    }
}
.responsive-baner .container, .page-title {
    background-color: #fff;
}
.page--home, .page--products {
    background-color: #CBCBCB;
    .container {
        background-color: #fff;
    }
}

.page--home .page-title {
    margin-bottom: 0;
    padding-bottom: 1rem;
}
.page--home .sections, .page--products .sections {
    padding-bottom: 0;
}
.brands-carousel__title, .filter-carousel__title {
    display: block;
    text-align: center;
    position: relative;
    padding: var(--spacer-3);
    margin: 0;
    text-transform: uppercase;
    font-weight: bold;
}

#footer-img {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}
#terceira-linha {
    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: var(--spacer-3);
    }
    * {
        color: #fff
    }
    background-color: rgb(117, 116, 116);
}

.footer {
    background-color: #CBCBCB;
    #primeira-linha {
        background-color: #230B93;
        padding: var(--spacer-3);
    }
    #segunda-linha {
        background-color: #fff;
    }
    * {
        color: #fff
    }
}
#list-var {
    padding-left: 0;
    li {
        list-style: none;
        border: .5px solid #ccc;
        border-radius: 100%;
        padding: 5px;
        margin-top: 5px;
        margin-right: 5px;
        a {
            padding: 5px;
        }
    }
}
.header__search-input {
    background-color: transparent;
    border-bottom: .5px solid #fff;
    border-radius: 0;
}
.header__row {
    padding: var(--spacer-3);
}
@media(min-width: 767px) {
    .header__logo {
        padding: 10px;
    }
}
.footer__payment-methods {
    margin-bottom: 0;
}
.footer {
    padding-bottom: 0 !important;
    padding-top: 0 !important;
    border-top: none;
}
#container-home {
    margin-top: -20px;
}
.product__buy + .mb-3 {
    display: none;
}
#product-block {
    margin-bottom: 0;
}
#product-actions .product__buy button {
    span {
        font-size: 0;
        &::after {
            content: 'Adicionar na Sacola';
            font-size: 1.2rem;
        }
    }
    border-radius: 20px;
    background-color: #FF8815;
    border-color: #FF8815;
}

.shipping-calculator__form .input-group .input-group-append {
    border-radius: 15px;
    background-color: #FF8815;
    margin-left: .5rem;
    button {
        border-color: white;
    }  
    i {
        font-size: 0;
        &::after {
            content: "Conferir";
            font-size: 1rem;
            color: #fff;
        }
    }
}
#banner-category {
    max-width: 100%;
}
#shipping-calculator-zip {
    background-color: #ccc;
    border-radius: 0;
}
.variations__grid--escolha_a_capa {
    max-height: 300px;
    overflow: auto;
    .variations__option {
        img {
            width: 20%;
        }
        border: 0;
        background-color: none;
    }
}
//.arte-capa {
//    display: flex;
//    flex-direction: column;
//}